<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="../css/about.css">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap" rel="stylesheet">
        <title>About Me</title>
    </head>
    <body>
        <header>
            <a href="https://prisnguyen.github.io/" class="logo">Priscilla</a>

            <nav class="navbar">
                <a href="./about.html" style="--i:1" class="active">About Me</a>
                <a href="#" style="--i:2">Projects</a>
                <a href="#" style="--i:3">Resume/CV</a>
                <a href="#" style="--i:4">Writing</a>
                <a href="#" style="--i:5">Contact</a>
            </nav>
        </header>

        <section class="home">
            <div class="image-container">
                <img src="../img/starting-rocket.svg" alt="Description of the image">
            </div>
            <div class="home-content">
                <h3> <i class='bx bx-user'></i> Hello, my name is <strong>Priscilla Nguyen</strong>. I graduated from Malden High School in 2020 and currently live in Boston. 
                    I'm currently a senior major in <strong>Computer Science & Economics</strong> from <strong>Boston University</strong>, expecting to graduate in May 2024.
                    I've also attained the Credential of Readiness by Harvard Business School Online for coursework
                    in Financial Accounting, Business Analytics, and Economics for Managers. 
                </h3>

                <h3> <i class='bx bx-code-alt'></i>
                    I began my journey in Computer Science during my second semester in college in 2021.
                    I have a passion for developing software and apps that can be useful for young generations.
                    I am proficient in various programming languages, including <strong>Java, Python, C, Bash, and Stata</strong>,
                    across multiple platforms. I also have a keen interest in delving into scientific
                    research, particularly in fields such as chemistry and biology. Feel free to explore the <strong>"Projects"</strong>
                    and <strong>"Writing"</strong> tabs at the top of the page to see some of my creations and research.
                </h3>

                <h3>
                    <i class='bx bxs-award' ></i>
                    In November 2022, I had a honor of achieving the <strong>first prize</strong> at BostonHacks,
                    a hackathon organized by BU. I accomplished this feat alongside a team of 4, outshining more 
                    than 200 participants. Our product can help people monitor how our mood varies and better understand
                    triggers that can cause the negative emotions they experience.
                </h3>

                <h3>
                    <i class='bx bx-envelope' ></i>
                    I'm a risk-loving, goal-oriented programmer passionate about problem-solving. 
                    I value collaboration, flexibility, and creativity, thriving in diverse and self-motivated 
                    environments. Let's connect for collaboration or a chat. 
                    Follow my social media links or <a href="mailto:pmnguyn@gmail.com">drop me an email</a>.
                </h3>

                <h1>
                    I am actively seeking entry-level opportunities in Software Engineering or Data Science! 
                    Contact me if you believe I could be a good fit for your team.
                </h1>
            </div>
        </section>
        <script src="../js/scroll.js" defer></script>
    </body>
</html>
    